<p>
  <strong>Title:</strong>
  <%= @movies.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @movies.description %>
</p>

<p>
  <strong>Year Released:</strong>
  <%= @movies.year_released %>
</p>